# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Android / Gradle
.gradle/
build/
local.properties
captures/
.externalNativeBuild/
.cxx/
output-metadata.json
*.aab
*.apk

# Generated native folders
/android
/ios

# Kotlin
.kotlin/

# IntelliJ / Android Studio
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Keystore
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# Google Services
google-services.json

# Metro
.metro-health-check*

# Logs
*.log
npm-debug.log*
npm-debug.*
yarn-debug.*
yarn-error.*

# Profiling
*.hprof

# Environment
.env
.env*.local

# macOS
.DS_Store
*.pem
Thumbs.db

# TypeScript
*.tsbuildinfo

# Misc
*.orig.*